[submodule "assets/javascript-bignum"]
	path = assets/javascript-bignum
	url = git://github.com/jtobey/javascript-bignum
[submodule "assets/crossfilter"]
	path = assets/crossfilter
	url = git://github.com/square/crossfilter
