[submodule "assets/javascript-bignum"]
	path = assets/javascript-bignum
	url = https://github.com/jtobey/javascript-bignum.git
[submodule "assets/crossfilter"]
	path = assets/crossfilter
	url = https://github.com/square/crossfilter.git
